// ================= Colors =======================

:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --soft-violet-transparent: hsla(277, 64%, 61%, 0.377);
  --white: hsl(0, 0%, 100%);
  --transparent-white-1: hsla(0, 0%, 100%, 0.75);
  --transparent-white-2: hsla(0, 0%, 100%, 0.6);
}

$main-background: var(--very-dark-blue);
$card-background: var(--dark-desaturated-blue);
$accent-transparent: var(--soft-violet-transparent);
$accent: var(--soft-violet);
$white-color: var(--white);
$main-paragraph: var(--transparent-white-1);
$stat-headings: var(--transparent-white-2);

// ====================== Weigths ======================

$bold-400: 400;
$bold-700: 700;

// ====================== font-size ====================

$reset-10px: 62.5%;
$base-15px: 1.5rem;

// ===================== fonts ==========================
$font-inter: 'Inter', 'sans-serif';
$font-lexend: 'Lexend Deca', 'sans-serif';
