.section-price__btn {
  width: 100%;
  padding: 2rem 0;
  background-color: var(--color-primary-green);
  color: var(--color-white);
  border-radius: 10px;
  border: none;
  box-shadow: 1px 10px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
