//================ Colors ================================
$color-primary-magenta: hsl(300, 43%, 22%);
$color-primary-pink: hsl(333, 80%, 67%);

$color-gray-mag-dark: hsl(303, 10%, 53%);
$color-gray-mag-light: hsl(300, 24%, 96%);
$color-white: hsl(0, 0%, 100%);

$color-star: hsl(41, 100%, 42%);
//=================================== General styles =================================================
html {
  font-size: 62.5%;
  font-family: 'Spartan', sans-serif;
  // height: 100vh;

  @media only screen and(max-width: 950px) {
    font-size: 50%;
  }

  @media only screen and(max-width: 750px) {
    font-size: 40%;
  }
}

body {
  font-size: 1.5rem;
  margin: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}
