.bg-desktop {
  position: absolute;

  &--top {
    top: 0;
    left: 0;
  }

  &--bot {
    bottom: 0;
    right: 0;

    @media only screen and (max-width: 600px) {
      display: none;
    }
  }
}

.content {
  display: grid;
  width: 80%;
  grid-column-gap: 5rem;
  grid-row-gap: 3rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-column-gap: 5rem;
    grid-row-gap: 3rem;
    @media only screen and (max-width: 600px) {
      text-align: center;
    }
  }
}
